@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

header,
header * {
	/* outline: 1px solid red; */
}

img {
	max-width: 100%;
	height: auto;
}

th,
td {
	@apply border-b border-r border-light;
	padding: 0.5rem 0.25rem;
	border-bottom: solid 1px;
	/* text-align: center; */
}

.slider-btn {
	position: absolute;
	top: 50%;
	z-index: 10;

	border: none;
	background: rgba(191, 190, 190, 0.7);
	font-family: inherit;
	color: #333;
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	/* font-size: 3.25rem; */
	cursor: pointer;
}

.slider-btn-left {
	left: 6%;
	transform: translate(-50%, -50%);
}

.slider-btn-right {
	right: 6%;
	transform: translate(50%, -50%);
}

.slide::-webkit-scrollbar {
	display: none;
}

@layer components {
	.btn-more {
		@apply py-[15px] px-[23px] mx-auto flex flex-col justify-center items-center rounded-md uppercase text-white bg-primary-3 tracking-[1.4px] font-extrabold text-[14px] hover:cursor-pointer;
	}
	.btn-book {
		@apply py-3 px-4 mx-auto flex flex-col justify-center items-center rounded-md uppercase text-white bg-primary-3 tracking-[1.4px] font-extrabold text-[14px] hover:cursor-pointer;
	}
	/* .menu-mobile {
		@apply hide flex md:flex-row flex-col items-center gap-8 absolute top-0 left-0 bg-gradient-to-b from-primary-1 to-primary-2 w-full min-h-[60vh] md:static md:min-h-fit md:w-auto top-[49px] justify-center;
	} */
	.menu-desktop {
		@apply flex md:flex-row items-center gap-8 absolute top-0 left-0 bg-gradient-to-b from-primary-1 to-primary-2 w-full min-h-[60vh] md:static md:min-h-fit md:w-auto top-[49px] justify-center;
	}
	.dot {
		@apply bg-gray-100 opacity-70 h-4 w-4 rounded-full mr-3 cursor-pointer transition-all duration-500 last:m-0 

		/* Only necessary when overlying images */
		/* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */;
	}
	.dot-active {
		@apply bg-gray-600 opacity-100;
	}
}

@layer utilities {
	.contain-img {
		@apply max-w-full h-auto;
	}

	.wrapper {
		@apply max-w-7xl w-[90%] mx-auto;
	}

	.table-col-1 {
		@apply uppercase font-bold tracking-widest;
	}

	.hide {
		display: none;
	}
	.logo-size {
		width: clamp(180px, 50vw, 320px);
	}
	.logo-size-footer {
		width: clamp(250px, 50vw, 320px);
	}
}
